<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <header>
        <h1>Login</h1>
        <nav>
            <a class="link-accion" th:href="@{/}">Inicio</a>
            <a class="link-accion" th:href="@{/registro}">Registro</a>
        </nav>
    </header>

    <div class="container">
        <form class="form-login" th:action="@{/login}" method="post">
            <label>Email:</label>
            <input type="text" name="email" required autocomplete="email" />


            <label>Contraseña:</label>
			<input type="password" name="password" required autocomplete="current-password" />

            <button class="btn-primario" type="submit">Ingresar</button>
        </form>

        <div th:if="${param.error}">
            <p class="mensaje-error" style="color: red;">Email o contraseña incorrectos.</p>
        </div>

        <div th:if="${param.logout}">
            <p class="mensaje-info" style="color: green;">Has cerrado sesión correctamente.</p>
        </div>
    </div>
</body>
</html>
